<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BusInfo</title>
    <!-- Bootstrap CSS file -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/style.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">BusInfo</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="/home" class="nav-item nav-link active">Home</a>
                    <a href="/fares-by-bus-lines" class="nav-item nav-link">fares by bus lines</a>
                    <a href="#" class="nav-item nav-link">Feedback</a>
                    
                </div>
                <div class="navbar-nav ml-auto">
                    <a href="#" class="nav-item nav-link"><span class="fa-solid fa-user-plus"></span> Sign up</a>
                    <a href="#" class="nav-item nav-link"><span class="fa-solid fa-right-to-bracket"></span> Sign in</a>
                </div>
            </div>
        </nav>
    </header><!--header-->


    <section>
        <div class="container my-5">
            <!-- row 1 -->
            <div class="row my-4">
                <div class="col-md-5">
                    <div class="dropdown">
                        <button class="btn btn-primary btn-lg btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Bus Lines
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownMenu_lines" style="max-height: 400px; overflow-y: auto;">
                          
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="dropdown">
                        <button class="btn btn-primary btn-lg btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Stops
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownMenu_stops" style="max-height: 400px; overflow-y: auto;">
                          <h6 class="dropdown-header">Select a bus line first</h6>
                          
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <button type="button" class="btn btn-primary btn-lg btn-block" id="search">Search</button>
                </div>
            </div>

            


            <!-- row 2 -->
            <div class="row my-4">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">                        
                    <table class="table">
                        <thead>
                            <tr class="table-active">
                                <th scope="col">Departure station</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Arrival station</th>
                                <th scope="col">Frequency</th>
                            </tr>
                        </thead>
                        <tbody id="info_1">
                            <tr>
                                <td scope="row">Station name</td>
                                <td>00:00:00</td>
                                <td>Station name</td>
                                <td>00:00:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--col-->
            </div><!--row 2-->

            <!-- row 3 -->
            <div class="row my-4">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">                        
                    <table class="table text-center">
                        <thead>
                            <tr class="table-active">
                                <th scope="col">Bus Line</th>
                                <th scope="col">First departure time</th>
                                <th scope="col">Last departure time</th>
                            </tr>
                        </thead>
                        <tbody id="info_2">
                            <tr>
                                <td scope="row">Line X</td>
                                <td>00:00:00</td>
                                <td>00:00:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!--col-->
            </div><!--row 3-->



            <!-- row 4 -->
            <div class="row my-4">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    
                    <div class="list-group text-center" id="estimatedArrivalTimes">
                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">Estimated arrival times for stop name</a>
                        <a href="#" class="list-group-item list-group-item-action">00:00:00 AM</a>
                        <a href="#" class="list-group-item list-group-item-action">00:00:00 AM</a>
                        <a href="#" class="list-group-item list-group-item-action">00:00:00 AM</a>
                        <a href="#" class="list-group-item list-group-item-action">00:00:00 AM</a>
                    </div>
                    
                </div>
                
            </div><!--row 4-->

            
        </div>
    </section><!--Main-->
    
    <!-- Scroll to Top Button -->
    <div class="scroll-to-top">
        <a href="#top" class="btn btn-primary">
            <i class="fas fa-arrow-up"></i>
        </a>
    </div>




    <footer class="bg-dark">
        <div class="container py-3 text-center">

            <div class="row">
                <div class="col-md-12">
                    <h2 class="footer-heading mx-0"><a href="#" class="logo">BusInfo</a></h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <p class="menu">
                        <a href="#">Home</a>
                        <a href="#">Agent</a>
                        <a href="#">About</a>
                        <a href="#">Listing</a>
                        <a href="#">Blog</a>
                        <a href="#">Contact</a>
                    </p>
                </div>
            </div>

            <!-- Grid row-->
            <div class="row">
        
                <!-- Grid column -->
                <div class="col-md-12 py-5">
                    <div class="">
            
                        <!-- Facebook -->
                        <a class="fb-ic" href="#" target="_blank">
                            <i class="fa-brands fa-facebook fa-lg fa-2x px-3"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic" href="#" target="_blank">
                            <i class="fa-brands fa-x-twitter fa-lg fa-2x px-3"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic" href="#" target="_blank">
                            <i class="fa-brands fa-instagram fa-lg fa-2x px-3"> </i>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->
        
            </div>
            <!-- Grid row-->

            <div class="row">
                <div class="col-md-12">
                    <p class="copyright text-white">
                        Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made with <i class="fa-solid fa-heart" style="color: brown;"></i> by <a href="https://github.com/Polaris-algedi" target="_blank">Polaris</a>
                    </p>
                </div>
            </div>
        </div>
    </footer><!--footer-->
    

    <!-- JS files: jQuery first, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/scripts/busEAT.js"></script>
</body>
</html>