.wrap-headline {
  margin-top: 25%;
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  padding: 20px; /* Some padding */

}
footer a {
  color: gray;
  text-decoration: none;
  background-color: transparent;
}

footer a:hover {
  color: white;
  text-decoration: none;
}
